/* dark-mode.css */
body {
    background-color: #121212;
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

.dash-graph {
    background-color: #1e1e1e;
}

.dcc-graph {
    background-color: #1e1e1e;
    color: white;
}

.dcc-graph .plotly-graph-div {
    background-color: #1e1e1e;
}

.dcc-interval {
    color: white;
}
